<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <!--Dao layer spring integration-->
    <bean id="userDAO" class="am.aca.wftartproject.dao.impl.UserDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="artistDAO" class="am.aca.wftartproject.dao.impl.ArtistDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="itemDAO" class="am.aca.wftartproject.dao.impl.ItemDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="shoppingCardDAO" class="am.aca.wftartproject.dao.impl.ShoppingCardDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="purchaseHistoryDAO" class="am.aca.wftartproject.dao.impl.PurchaseHistoryDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="artistSpecialization" class="am.aca.wftartproject.dao.impl.ArtistSpecializationLkpDaoImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

</beans>