<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:annotation-config/>
    <context:property-placeholder location="classpath:database-config.properties"/>

    <!--DataSource configuration-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbcDriver}"/>
        <property name="jdbcUrl" value="${jdbcUrl}"/>
        <property name="user" value="${jdbcUserName}"/>
        <property name="password" value="${jdbcPassword}"/>
        <property name="initialPoolSize" value="${jdbcInitialPool}"/>
        <property name="maxPoolSize" value="${jdbcMaxPoolSize}"/>
        <property name="minPoolSize" value="${jdbcMinPoolSize}"/>
        <property name="maxStatements" value="${jdbcMaxStatements}"/>
        <property name="acquireIncrement" value="${jdbcAcquireIncrement}"/>
        <property name="maxIdleTime" value="${jdbcMaxIdleTime}"/>
        <property name="testConnectionOnCheckout" value="${jdbcTestConnection}"/>
    </bean>


    <!-- Enable Annotation based Declarative Transaction Management -->
    <tx:annotation-driven proxy-target-class="true"
                          transaction-manager="transactionManager" />

    <!-- Creating TransactionManager Bean, since JDBC we are creating of type
        DataSourceTransactionManager -->
    <!--org.springframework.jdbc.datasource.DataSourceTransactionManager-->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>