<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/welcome" access="permitAll"/>
        <intercept-url pattern="/shop" access="permitAll"/>
        <intercept-url pattern="/contact" access="permitAll"/>
        <intercept-url pattern="/about" access="permitAll"/>
        <intercept-url pattern="/account/user" access="ROLE_USER"/>
        <intercept-url pattern="/account/artist" access="ROLE_ARTIST"/>
        <form-login login-page="/login" default-target-url="/account" authentication-failure-url="/login?error"/>
        <logout logout-success-url="/"/>
        <csrf disabled="true"/>
    </http>


    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="encoder"></password-encoder>
        </authentication-provider>
    </authentication-manager>


    <b:bean id="userDetailsService" class="am.aca.wftartproject.security.UserDetailsServiceDao"></b:bean>


    <b:bean id="encoder"  class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <b:constructor-arg name="strength" value="10"/>
    </b:bean>

</b:beans>