<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="spring-dao-integration.xml"/>
    <!--Service layer Spring integration-->
    <bean id="userService" class="am.aca.wftartproject.service.impl.UserServiceImpl">
    </bean>

    <bean id="artistService" class="am.aca.wftartproject.service.impl.ArtistServiceImpl">
    </bean>

    <bean id="itemService" class="am.aca.wftartproject.service.impl.ItemServiceImpl">
    </bean>

    <bean id="shoppingCardService" class="am.aca.wftartproject.service.impl.ShoppingCardServiceImpl">
    </bean>

    <bean id="purchaseHistoryService" class="am.aca.wftartproject.service.impl.PurchaseHistoryServiceImpl">
    </bean>

</beans>