<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>classpath:spring-root.xml</param-value>-->
    <!--</context-param>-->

    <servlet>
        <servlet-name>spring-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-root.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring-mvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!--<filter>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>WEB-INF/spring-config/spring-security.xml</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->



    <!--<listener>-->
        <!--<listener-clam.aca.wftartproject.servletr.CtxListener</listener-class>-->
    <!--</listener>-->
    <!---->

    <!--<filter>-->
        <!--<filter-name>AuthenticationFilter</filter-name>-->
        <!--<filter-clam.aca.wftartproject.servletr.AuthenticationFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>AuthenticationFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->


    <!--<servlet>-->
        <!--<servlet-name>ShopServlet</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.ShopServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ShopServlet</servlet-name>-->
        <!--<url-pattern>/shop</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>UploadServlet</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.FileUploadServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>UploadServlet</servlet-name>-->
        <!--<url-pattern>/uploadFile</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>HomeServlet</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.HomeServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>HomeServlet</servlet-name>-->
        <!--<url-pattern>/index</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--<servlet>-->
        <!--<servlet-name>LoginServlet</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.LoginServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>LoginServlet</servlet-name>-->
        <!--<url-pattern>/login</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--<servlet>-->
        <!--<servlet-name>LogOutServlet</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.LogOutServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>LogOutServlet</servlet-name>-->
        <!--<url-pattern>/logout</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>SignUp</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.SignUpServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>SignUp</servlet-name>-->
        <!--<url-pattern>/signup</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>My Account</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.AccountServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>My Account</servlet-name>-->
        <!--<url-pattern>/account</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>My Account</servlet-name>-->
        <!--<url-pattern>/account/*</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--<servlet>-->
        <!--<servlet-name>Edit Profile</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.EditProfileServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Edit Profile</servlet-name>-->
        <!--<url-pattern>/edit-profile</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>Purchase History</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.PurchaseHistoryServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>Purchase History</servlet-name>-->
        <!--<url-pattern>/purchase-history</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>ItemDetail</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.ItemDetailServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ItemDetail</servlet-name>-->
        <!--<url-pattern>/shop-detail</url-pattern>-->
    <!--</servlet-mapping>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ItemDetail</servlet-name>-->
        <!--<url-pattern>/shop-detail/*</url-pattern>-->
    <!--</servlet-mapping>-->


    <!--<servlet>-->
        <!--<servlet-name>ContactServlet</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.ContactServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>ContactServlet</servlet-name>-->
        <!--<url-pattern>/contact</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>AboutServlet</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.AboutServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>AboutServlet</servlet-name>-->
        <!--<url-pattern>/about</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>MyArtWorks</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.MyWorksServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>MyArtWorks</servlet-name>-->
        <!--<url-pattern>/my-works</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>AddItem</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.AddItemsServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>AddItem</servlet-name>-->
        <!--<url-pattern>/additem</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>ShopCart</servlet-name>-->
        <!--<servlet-clam.aca.wftartproject.servletr.ShopCartServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>ShopCart</servlet-name>-->
        <!--<url-pattern>/shop-cart</url-pattern>-->
    <!--</servlet-mapping>-->


</web-app>